<div ng-show="!preview" class="page-title bottom-2">
  <div class="container clearfix sidebar">
    <div class="sixteen columns">
      <h3 class="nine columns" style="text-align: center;">Customize Event</h3>
      <div class="six columns pull-right">
        <i ng-click="newEvent()" class="icon-plus-sign pull-right" style="font-size: 20px"> New Event</i>
        <i ng-click="myEvents()" class="icon-list pull-right" style="font-size: 20px; margin-right:5px;"> My Events</i>
      </div>
    </div>
  </div>
</div>
<div ng-show="!preview" class="container">
  <div class="sixteen columns">
    <form class="form-elements">
      <input ng-model="event.title" type="text" placeholder="Name your event" class="text leadField" style="width: 90%; font-size: 2em;">
      <select ng-model="event.frequency" ng-options="frequency.days as frequency.label for frequency in frequencies" class="text leadField"></select>
      <input ng-model="event.endDate.date" type="date" class="text leadField block">
      <input ng-model="event.endDate.time" type="time" class="text leadField block">
      <h4 ng-bind="event.locationName"></h4>
      <input ng-google-auto-complete="event.geocode" details="details" options="options" type="text" class="text leadField">
      <select ng-model="event.eventType" ng-options="eventType for eventType in eventTypes" class="text leadField"></select>
    </form>
  </div>
</div>
<div ng-show="preview" ng-include="previewTemplate">

</div>
<div class="container">
  <div class="sixteen columns">
    <button ng-click="publish()" class="button small color">Publish</button>
    <button ng-click="togglePreview()" ng-bind="publishLabel" class="button small color">Preview</button>
  </div>
</div>
